@import "../reset";
@import "../utilitarias";

@media (min-width: 769px) {

    
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.28fr 1fr 0.1fr;
    grid-template-areas:"header header"
                        "main article"
                        "main article"
                        "footer footer";
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
article{
    grid-area: article;
}
footer{
    grid-area: footer;
}
    .header{
            &__opacidad {
                background-color: #fff;
                opacity: 0.9;
                /* max-width: fit-content; */
            }
            &__imagen__contenedor{
                display: grid;
                grid-template-rows: 11rem;
                justify-content: space-between;
                align-items: center;
            }
            &__imagen__logo{
                display: flex;
                justify-content: center;
                max-width: 100%;
                max-height: 100%;
                animation: aparecer 700ms  ease-in alternate ;
            }
                    @keyframes aparecer {
                        0%{
                            position: relative;
                            right: 100rem;
                        }
                        100%{
                            position: relative;
                            right: 0rem;
                        }
                    }

            &__instagram__contenedor{
                position: relative;
                left: 87rem;
                bottom: 9.7rem;
                }

            &__instagram{
                width: 4.5rem;
            }
            &__wpp__contenedor{
                position: relative;
                left: 76rem;
                bottom: 9rem;

            }


            &__wpp{
                width: 7rem;
            }

            
            &__contenedor__botones {
                padding: 2rem 1rem 1rem 1rem;
                display: flex;
                position: relative;
                max-height: 62%;
                gap: 0.5rem;
                height: 5rem;
                
            }
            &__botones{
                display: flex;
                position: relative;
                align-items: center;
                width: 100%;
                padding: 0rem 3rem 0rem 3rem;
                border: solid 2px ;
                background-image: linear-gradient(to left, rgb(193, 178, 164), rgb(255, 255, 255));
                border-radius: 1rem;
                font-family: 'Changa', sans-serif;
                font-size: unset;
            }
            &__botones :hover{
                color: #9b0b0b;
            }
            &__color__boton {
                display: flex;
                text-decoration: none;
                color: black;
                align-items: center;
                align-content: center;
                width: 12rem;
            }
            
    }
}