*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
} 
/*
.root{
    font-size: 20px; 
}
/*CLASES UTILITARIAS, se repiten mucho*/


.btn{
    color: tomato
}

.inline{
    display: inline;
}



/* FIN CLASES UTILITARIAS */ 



body{
    background-image: url(../img/fondo/ropa-fondo-2.jpg);
    background-attachment:fixed;
    background-size: contain;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.28fr 1fr 0.1fr;
    grid-template-areas:"header header"
                        "main article"
                        "main article"
                        "footer footer";
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
article{
    grid-area: article;
}
footer{
    grid-area: footer;
}


.header__opacidad{
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    max-height: 15rem;
}

.imagen-contenedor {
    display: grid;
    grid-template-rows: 10rem;
    justify-content: space-between;
    align-items: center;
}

.imagen-logo {
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: 50%;
}


.header__contenedor-botones {
    padding: 2rem 1rem 1rem 1rem;
    display: flex;
    position: relative;
    max-height: 62%;
    gap: 0.5rem;
    height: 5rem;
}

.header__botones{
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    padding: 0rem 3rem 0rem 3rem;
    border: solid 2px ;
    background-image: linear-gradient(to left, rgb(116, 111, 105), rgb(255, 255, 255)) ;
}

.color_boton{
    display: flex;
    text-decoration: none;
    color: black;
    font-family: cursive;
}

/* MAIN */


.main__titulos{
    width: 100%;
    height: 3rem;
    font-family: cursive;

    
}

.main__titulospagina {
    display: inline;
    justify-content: left;
    padding: 0.06rem;
    background-image: linear-gradient(to left, rgb(86, 83, 80), rgb(255, 255, 255));
    position: relative;
    left: 3rem;
}

.main__textoquienessomos {
    display: flex;
    height: 9rem;
    width: 35rem;
    font-size: 1.2rem;
    background-color: rgb(251, 195, 195);
    flex-direction: column;
    background-image: linear-gradient(to left, rgb(169, 155, 155), rgb(255, 255, 255), rgb(255, 255, 255));
    font-family: cursive;
    position: relative;
    left: 3rem;
}

.main__imagen {
    padding-top: 1rem;
    width: 35rem;
    position: relative;
    left: 3rem;
}



/* ARTICLE */


.article__texto__nospresentamos {
    display: flex;
    font-size: 1.2rem;
    max-width: 12rem;
    background-image: linear-gradient(to left, rgb(79, 70, 70), rgb(255, 255, 255), rgb(255, 255, 255));
    font-family: cursive;
    border: solid black 1px;
    position: relative;
    left: 15rem;
}
.article__textocomollegar {
    display: flex;
    max-width: 12rem;
    font-size: 1.2rem;
    background-image: linear-gradient(to left, rgb(79, 70, 70), rgb(255, 255, 255), rgb(255, 255, 255));
    font-family: cursive;
    border: solid black 1px;
    justify-content: center;
    position: relative;
    top: 15rem;
    left: 15rem;
}

.article__video__contenedor{
    display: flex;
    padding: 2rem 0rem 0rem 0rem;
    justify-content: flex-start;
    max-width: 30rem;
    position: relative;
    left: 15rem;
}
.article__video{
    display: flex;
}

.article__mapa__orientacion {
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding: 2rem 2rem 2.5rem 2rem;
    position: relative;
    top: 14rem;
    left: 12rem;
    max-width: 35rem;
}

.article__integrantes__contenedor{
    display: flex;
    flex-direction: column;
    background-image: url(../img/fondo/fondo_texto_integrantes.jpg);
    background-size: cover;
    position: relative;
    top: 7rem;
    max-width: 25rem;
    left: 15rem;
}
.article__mapa{
    display: flex;

}
.article__titulospagina {
    display: flex;
    justify-content: space-around;
    padding: 1rem 1rem 1rem 0.3rem;
    
}

.article__integrantes__foto {
    max-width: 12rem;
    padding: 1rem 1rem 1rem 1rem;
    position: relative;
    left: 6.5rem;
}

.article__integrantes__texto {
    display: flex;
    justify-content: space-around;
}


/* FOOTER */


.footer {
    background-color: rgb(232, 216, 216);
    position: relative;
    opacity: 0.8;
    max-height: 10rem;
    top: 12rem;
}

.footer__botones{
    display: flex;
    position: relative;
    align-items: center;
}

.footer__disenoboton{
    display: flex;
    justify-content: center;
    position: relative;
    top: 10rem;
    width: 100%;
    padding: 0.5rem 3rem 0rem 3rem;
    border: solid 2px;
    background-image: linear-gradient(to left, rgb(215, 179, 135), rgb(224, 176, 176));


}

.footer__color__boton{
    display: flex;
    text-decoration: none;
    color: black;
    font-family: cursive;
}



/* REMERAS */


.grid__remeras {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 3fr 1fr;
    grid-template-areas:"header header"
                        "main main"
                        "footer footer";
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}

 .main__remera{
    max-width: 20rem;
    max-height: 20rem;
    padding: 2rem 2rem 5rem 2rem;
    background-image: linear-gradient(to bottom, rgb(93, 86, 86), white);  
 }

.centrada{
    display: flex;
    
}


 /* JEANS */


.grid__jeans{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:"header header"
                        "main main"
                        "footer footer";
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}

.main__jeans__imagenes{
    max-width: 20rem;
    max-height: 20rem;
    padding: 2rem 2rem 5rem 2rem;
    background-image: linear-gradient(to bottom, rgb(93, 86, 86), white);    
}


/* ZAPATILLAS */


.grid__zapatillas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 0.5fr;
    grid-template-areas:"header header"
                        "main main"
                        "footer footer";
}


.zapatillas__boton1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 35rem;
    padding: 1rem 1rem 1rem 1rem;
    background-image: linear-gradient(to left, rgb(172, 161, 161),white);
    border: solid rgb(96, 82, 82) 3px;
}

.zapatillas__boton2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 35rem;
    padding: 1rem 1rem 1rem 1rem;
    background-image: linear-gradient(to left, rgb(172, 161, 161),white);
    border: solid rgb(96, 82, 82) 3px;
}


.zapatillas__contenedorimagen{
    display: flex;
    justify-content: center;
}


/*  JORDANS  */
.grid__vans-y-jordans{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 0.3fr;
    grid-template-areas:"header"
                        "main"
                        "footer";
}

.jordans__tama単ocontenedor{
    display: inline;
    max-width: 20rem;
    max-height: 27rem;
}

.jordans__tama単oimagen{
    height: 14rem;
    width: 14rem;
    display: flex;
    padding-top: 1rem;   
}

/*  VANS  */

.grid__vans-y-jordans{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 0.3fr;
    grid-template-areas:"header"
                        "main"
                        "footer";
}

.vans__tama単ocontenedor{
    display: inline;
    max-width: 20rem;
    max-height: 27rem;
}

.vans__tama単oimagen{
    height: 14rem;
    width: 14rem;
    display: flex;
    padding-top: 1rem;
}



/* FORMULARIO */

.grid__formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-template-areas:"header header"
                        "main main"
                        "footer footer";
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}

.main__contacto__tituloprincipal{
    background-image: linear-gradient(to left, rgb(68, 65, 65), rgb(236, 236, 236));    
}

.main__formulario {
    padding: 2rem 0.5rem 0.5rem 0.5rem;
    position: relative;
    background-image: linear-gradient(to left, rgb(68, 65, 65), rgb(236, 236, 236));
}

.main__formulario__fieldset{
    padding: 0rem 1rem 1rem 2rem;
}

.main__formulario__cuestionario{
    font-family: cursive;
}

.main__formulario__cuestionario__sexo{
    position: relative;
    left: 1.3rem;
    font-family: cursive;
    
}
main__formulario__span{
    position: relative;
}

.main__formulario__cuestionario__reiniciar{
    font-family: cursive;
}

.main__formulario__cuestionario__enviar{
    font-family: cursive;
}




@media (max-width: 767px) {

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.34fr 0.68fr 0.1fr;
        grid-template-areas: "header"
                "main"
                "article"
                "footer";
    }
    .header__opacidad {
        background-color: rgb(255, 255, 255);
        opacity: 0.9;
        max-height: 17rem;
        max-width: 18rem;
    }

    .header__opacidad {
        background-color: rgb(255, 255, 255);
        opacity: 0.9;
        max-height: 17rem;
    }

    .imagen-logo {
        max-width: 70%;
        max-height: 30%;
        position: relative;
        left: 2.5rem;
        bottom: 0.5rem;
    }
    .imagen-contenedor {
        display: grid;
        grid-template-rows: 5rem;
        justify-content: space-between;
        align-items: center;
    }
    .header__contenedor-botones {
        padding: 2rem 1rem 1rem 1rem;
        display: flex;
        position: relative;
        /* max-height: 62%; */
        gap: 0.5rem;
        /* height: 5rem; */
        flex-wrap: wrap;
        width: 18rem;
    }
    .main__titulospagina {
        display: inline;
        justify-content: left;
        padding: 0.06rem;
        background-image: linear-gradient(to left, rgb(86, 83, 80), rgb(255, 255, 255));
        position: relative;
        bottom: 2rem;
    }
    .main__textoquienessomos {
        display: flex;
        height: 19rem;
        width: 14rem;
        font-size: 1.2rem;
        background-color: rgb(251, 195, 195);
        flex-direction: column;
        background-image: linear-gradient(to left, rgb(169, 155, 155), rgb(255, 255, 255), rgb(255, 255, 255));
        font-family: cursive;
        position: relative;
        left: 2rem;
    }
    .main__imagen {
        padding-top: 1rem;
        width: 15rem;
        position: relative;
        left: 1.5rem;
    }
    .article__texto__nospresentamos {
        display: flex;
        font-size: 1.2rem;
        max-width: 12rem;
        background-image: linear-gradient(to left, rgb(79, 70, 70), rgb(255, 255, 255), rgb(255, 255, 255));
        font-family: cursive;
        border: solid black 1px;
        position: relative;
        left: 3.3rem;
    }
    .article__video__contenedor {
        display: flex;
        padding: 2rem 0rem 0rem;
        max-width: 18rem;
        max-height: 30rem;
        position: inherit;
        height: 20rem;
    }
    .article__integrantes__contenedor {
        display: flex;
        flex-direction: column;
        background-image: url(../img/fondo/fondo_texto_integrantes.jpg);
        background-size: cover;
        position: inherit;
        top: 7rem;
        max-width: 22rem;
        padding-top: rem;
        
    }
    .article__integrantes__foto {
        max-width: 12rem;
        padding: 1rem 1rem 1rem 1rem;
        position: relative;
        left: 4.5rem;
    }
    .article__textocomollegar {
        /* display: flex; */
        max-width: 12rem;
        font-size: 1.2rem;
        background-image: linear-gradient(to left, rgb(79, 70, 70), rgb(255, 255, 255), rgb(255, 255, 255));
        font-family: cursive;
        border: solid black 1px;
        /* justify-content: center; */
        position: relative;
        top: 3rem;
        left: 3rem;
    }
    .article__mapa__orientacion {
        position: relative;
        display: flex;
        justify-content: flex-start;
        padding: 1rem 2rem 2.5rem 1.6rem;
        position: relative;
        top: 4rem;
        left: 0rem;
        max-width: 17rem;
        max-height: 18rem;
    }
    .footer {
        background-color: rgb(232, 216, 216);
        position: relative;
        opacity: 0.8;
        max-height: 6rem;
        top: 12rem;
    }
}

@media (max-width: 1079px) {

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 294px 444px 1fr 0.1fr;
        grid-template-areas: "header"
                "main"
                "article"
                "footer";
    }
    .header__opacidad {
        background-color: rgb(255, 255, 255);
        opacity: 0.9;
        height: 100%;
        width: 100%;
    }

    .header__opacidad {
        background-color: rgb(255, 255, 255);
        opacity: 0.9;
        max-height: 12rem;
    }

    .imagen-logo {
        max-width: 70%;
        max-height: 30%;
        position: relative;
        left: 10.5rem;
    }
    .imagen-contenedor {
        display: grid;
        grid-template-rows: 5rem;
        justify-content: space-between;
        align-items: center;
    }
    .header__contenedor-botones {
        padding: 2rem 1rem 1rem 1rem;
        display: flex;
        position: relative;
        /* max-height: 62%; */
        gap: 0.5rem;
        height: 7rem;
        max-width: 14rem;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .header__botones {
        display: flex;
        position: relative;
        align-items: center;
        width: 100%;
        padding: 0rem 3rem 0rem 3rem;
        border: solid 2px;
        background-image: linear-gradient(to left, rgb(116, 111, 105), rgb(255, 255, 255));
        flex-direction: column;
    }
    .main__titulospagina {
        display: inline;
        justify-content: left;
        padding: 0.06rem;
        background-image: linear-gradient(to left, rgb(86, 83, 80), rgb(255, 255, 255));
        position: relative;
        bottom: 2rem;
        left: 2rem;
    }
    .main__textoquienessomos {
        display: flex;
        height: 19rem;
        width: 14rem;
        font-size: 1.2rem;
        background-color: rgb(251, 195, 195);
        flex-direction: column;
        background-image: linear-gradient(to left, rgb(169, 155, 155), rgb(255, 255, 255), rgb(255, 255, 255));
        font-family: cursive;
        position: relative;
        left: 2rem;
        bottom: 2rem;
    }
    .main__imagen__contenedor {
        position: relative;
        bottom: 21.5rem;
        left: 19rem;
    }
    .main__imagen {
        padding-top: 1rem;
        width: 15rem;
        position: relative;
        left: 1.5rem;
    }
    .article__texto__nospresentamos {
        display: flex;
        font-size: 1.2rem;
        max-width: 12rem;
        background-image: linear-gradient(to left, rgb(79, 70, 70), rgb(255, 255, 255), rgb(255, 255, 255));
        font-family: cursive;
        border: solid black 1px;
        position: relative;
        left: 12.3rem;
        padding: 0.1rem;
    }
    .article__video__contenedor {
        /* display: flex; */
        /* padding: 2rem 0rem 0rem 1rem; */
        max-width: 23rem;
        max-height: 30rem;
        position: relative;
        left: 7.5rem;
        height: 20rem;
    }
    .article__integrantes__contenedor {
        display: flex;
        flex-direction: column;
        background-image: url(../img/fondo/fondo_texto_integrantes.jpg);
        background-size: cover;
        position: relative;
        top: 7rem;
        max-width: 22rem;
        top: 0rem;
        left: 8rem;
    }
    .article__integrantes__foto {
        max-width: 12rem;
        padding: 1rem 1rem 1rem 1rem;
        position: relative;
        left: 4.5rem;
    }
    .article__textocomollegar {
        /* display: flex; */
        max-width: 12rem;
        font-size: 1.2rem;
        background-image: linear-gradient(to left, rgb(79, 70, 70), rgb(255, 255, 255), rgb(255, 255, 255));
        font-family: cursive;
        border: solid black 1px;
        /* justify-content: center; */
        position: relative;
        top: 3rem;
        left: 13rem;
    }
    .article__mapa__orientacion {
        position: relative;
        display: flex;
        justify-content: flex-start;
        padding: 1rem 2rem 2.5rem 1.6rem;
        position: relative;
        top: 4rem;
        left: 6rem;
        max-width: 28rem;
        max-height: 18rem;
    }
    .footer {
        background-color: rgb(232, 216, 216);
        position: relative;
        opacity: 0.8;
        max-height: 6rem;
        top: 12rem;
    }
}