*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
} 
/*
.root{
    font-size: 20px; 
}
/*CLASES UTILITARIAS, se repiten mucho*/
.btn{
    color: tomato
}

.inline{
    display: inline;
}

/* FIN CLASES UTILITARIAS */ 



body{
    background-image: url(../img/fondo/ropa-fondo-2.jpg);
    background-attachment:fixed;
    background-size: contain;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.28fr 1fr 0.1fr;
    grid-template-areas:"header header"
                        "main article"
                        "main article"
                        "footer footer";
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
article{
    grid-area: article;
}
footer{
    grid-area: footer;
}


.header__opacidad{
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    max-height: 15rem;
}

.imagen-contenedor {
    display: grid;
    grid-template-rows: 10rem;
    justify-content: space-between;
    align-items: center;
}

.imagen-logo {
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: 50%;
}


.header__contenedor-botones {
    padding: 2rem 1rem 1rem 1rem;
    display: flex;
    position: relative;
    max-height: 62%;
    gap: 0.5rem;
    height: 5rem;
}

.header__botones{
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    padding: 0rem 3rem 0rem 3rem;
    border: solid 2px ;
    background-image: linear-gradient(to left, rgb(116, 111, 105), rgb(255, 255, 255)) ;
}

.color_boton{
    display: flex;
    text-decoration: none;
    color: black;
    font-family: cursive;
}

/* MAIN */


.main__titulos{
    width: 100%;
    height: 3rem;
    font-family: cursive;

    
}

.main__titulospagina {
    display: inline;
    justify-content: left;
    padding: 0.06rem;
    background-image: linear-gradient(to left, rgb(86, 83, 80), rgb(255, 255, 255));
    position: relative;
    left: 3rem;
}

.main__textoquienessomos {
    display: flex;
    height: 9rem;
    width: 35rem;
    font-size: 1.2rem;
    background-color: rgb(251, 195, 195);
    flex-direction: column;
    background-image: linear-gradient(to left, rgb(169, 155, 155), rgb(255, 255, 255), rgb(255, 255, 255));
    font-family: cursive;
    position: relative;
    left: 3rem;
}

.main__imagen {
    padding-top: 1rem;
    width: 35rem;
    position: relative;
    left: 3rem;
}



/* ARTICLE */
.article__texto__nospresentamos {
    display: flex;
    font-size: 1.2rem;
    max-width: 12rem;
    background-image: linear-gradient(to left, rgb(79, 70, 70), rgb(255, 255, 255), rgb(255, 255, 255));
    font-family: cursive;
    border: solid black 1px;
    position: relative;
    left: 15rem;
}
.article__textocomollegar {
    display: flex;
    max-width: 12rem;
    font-size: 1.2rem;
    background-image: linear-gradient(to left, rgb(79, 70, 70), rgb(255, 255, 255), rgb(255, 255, 255));
    font-family: cursive;
    border: solid black 1px;
    justify-content: center;
    position: relative;
    top: 15rem;
    left: 15rem;
}

.article__video__contenedor{
    display: flex;
    padding: 2rem 0rem 0rem 0rem;
    justify-content: flex-start;
    max-width: 30rem;
    position: relative;
    left: 15rem;
}
.article__video{
    display: flex;
}

.article__mapa__orientacion {
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding: 2rem 2rem 2.5rem 2rem;
    position: relative;
    top: 14rem;
    left: 12rem;
    max-width: 35rem;
}

.article__integrantes__contenedor{
    display: flex;
    flex-direction: column;
    background-image: url(../img/fondo/fondo_texto_integrantes.jpg);
    background-size: cover;
    position: relative;
    top: 7rem;
    max-width: 25rem;
    left: 15rem;
}
.article__mapa{
    display: flex;

}
.article__titulospagina {
    display: flex;
    justify-content: space-around;
    padding: 1rem 1rem 1rem 0.3rem;
    
}

.article__integrantes__foto {
    max-width: 12rem;
    padding: 1rem 1rem 1rem 1rem;
    position: relative;
    left: 6.5rem;
}

.article__integrantes__texto {
    display: flex;
    justify-content: space-around;
}






/* FOOTER */

.footer {
    background-color: rgb(232, 216, 216);
    position: relative;
    opacity: 0.8;
    max-height: 10rem;
    top: 12rem;
}

.footer__botones{
    display: flex;
    position: relative;
    align-items: center;
}

.footer__disenoboton{
    display: flex;
    justify-content: center;
    position: relative;
    top: 10rem;
    width: 100%;
    padding: 0.5rem 3rem 0rem 3rem;
    border: solid 2px;
    background-image: linear-gradient(to left, rgb(215, 179, 135), rgb(224, 176, 176));


}

.footer__color__boton{
    display: flex;
    text-decoration: none;
    color: black;
    font-family: cursive;
}



/* REMERAS */

.grid__remeras{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:"header header"
                        "main main"
                        "footer footer";
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}

 .main__remera1{
    max-width: 20rem;
    max-height: 20rem;
    
    
 }

 .main__remera2{
    max-width: 20rem;
    max-height: 20rem;
    
 }

 .main__remera3{
    max-width: 20rem;
    max-height: 20rem;
    
 }


 /* JEANS */

.grid__jeans{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:"header header"
                        "main main"
                        "footer footer";
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}


/* FORMULARIO */

.grid__formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:"header header"
                        "main main"
                        "footer footer";
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}

.main__formulario{
    padding: 0.5rem;
    position: relative;
    background-image: linear-gradient(to left, rgb(68, 65, 65), rgb(236, 236, 236));

}

.main__formulario__fieldset{
    padding: 0rem 1rem 1rem 2rem;
}

.main__formulario__cuestionario{
    font-family: cursive;
}

.main__formulario__cuestionario__sexo{
    position: relative;
    left: 1.3rem;
    font-family: cursive;
    
}
main__formulario__span{
    position: relative;
}

.main__formulario__cuestionario__reiniciar{
    font-family: cursive;
}

.main__formulario__cuestionario__enviar{
    font-family: cursive;
}
/* AYUDA */

.grid__ayuda{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:"header header"
                        "main main"
                        "footer footer";
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}