
/*  JORDANS  */
.grid__jordans{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 0.3fr;
    grid-template-areas:"header"
                        "main"
                        "footer";
}
.main__zapatillas__jordans {
    display: flex;
    flex-wrap: wrap;
    gap: 11rem;
    position: relative;
    left: -10rem;
}
.jordans__tamañocontenedor {
    display: inline;
    max-width: 30rem;
    max-height: 37rem;
    padding: 0.2rem 0.2rem 3rem 0.2rem;
    background-image: linear-gradient(to top, #c1b2a4, white);
    border: 1px black solid;
    border-radius: 1rem;
    position: relative;
    left: 7rem;
    bottom: 13rem;
}

.jordans__tamañoimagen{
    height: 24rem;
    width: 24rem;
    display: flex;
    border: 1px black solid;
    border-radius: 1rem;

}
.main__jordans__span {
    position: relative;
    right: -9rem;
    bottom: -1rem;
    font-family: 'Changa', sans-serif;
    line-height: 1rem;
    font-weight: bold;


}

/*  VANS  */

.grid__vans{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 397px 1518px 190px;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.main__zapatillas__vans {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 9rem;
    position: relative;
    left: -8rem;
}

.vans__tamañocontenedor {
    /* display: flex; */
    width: fit-content;
    height: fit-content;
    padding: 0.2rem 0.2rem 3rem 0.2rem;
    background-image: linear-gradient(to top, #c1b2a4, white);
    border: 1px black solid;
    border-radius: 1rem;
    position: relative;
    left: 7rem;
}

.vans__tamañoimagen{
    height: 24rem;
    width: 24rem;
    display: flex;
    padding-top: 1rem;
}

.main__vans__span {
    position: relative;
    bottom: -1rem;
    right: -9rem;
    font-family: 'Changa', sans-serif;
    line-height: 1rem;
    font-weight: bold;


}
