
@import "../utilitarias";
@import "../reset";
.grid__formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 600px 130px;
    grid-template-areas:"header header"
                        "main main"
                        "footer footer";
}
header{
    grid-area: header;
}
main{
    grid-area: main;
    padding-top: 1.9rem;
}
footer{
    grid-area: footer;
}
.main{

    &__formulario__tamaño{
        animation-duration: 0.8s;
        animation-name: slidein;
        animation-iteration-count: 1;
        animation-direction: alternate;
        justify-content: center;
        flex-direction: column;
        padding-top: 5rem;

    }
    @keyframes slidein {
        from {
            margin-right:100rem;
        }
        
        to {
            margin-right:0rem;
        }
    }

    &__contacto__tituloprincipal{
        text-align: center;
        padding:0rem 1rem 0rem 1rem;
        font-family: 'Changa', sans-serif;
        font-size: xx-large;
        background-image: linear-gradient(to left, #d7c3ad, #e9e8e3);        
        border: 2px black solid;
        max-width: 30rem;
        border-radius: 1rem;
        
        }
        
        
    

    &__formulario__contenedor__titulo{
        display: flex;
        justify-content: center;

    }

    &__formulario {
    
        padding: 2rem 0.5rem 0.5rem 0.5rem;
        position: relative;
        border-radius: 1rem;
        top: 1rem;
        display: flex;
        justify-content: center;
    }

    
    &__formulario__fieldset{
        padding: 0rem 4rem 1rem 8rem;
        border-radius: 1rem;
        background-image: linear-gradient(to left, #d7c3ad, #e9e8e3);        
        border: 2px black solid;
        
        
    }
    
    
    &__formulario__cuestionario{
        font-family: 'Changa', sans-serif;
        padding-top: 0.3rem;
    }
    
    &__formulario__cuestionario__sexo{
        position: relative;
        font-family: 'Changa', sans-serif;
    }

    &__formulario__span{
        position: relative;
    }
    
    &__formulario__cuestionario__reiniciar{
        font-family: 'Changa', sans-serif;
        font-weight: bold;
    }
    
    &__formulario__cuestionario__enviar{
        font-family: 'Changa', sans-serif;
        font-weight: bold;

    }
    
}

