@import "../desktop/header";
@import "../desktop/main__pagina";
@import "../utilitarias";
@import "../reset";
.grid__formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 500px 130px;
    grid-template-areas:"header header"
                        "main main"
                        "footer footer";
}
header{
    grid-area: header;
}
main{
    grid-area: main;
    padding-top: 1.9rem;
}
footer{
    grid-area: footer;
}
.main{
    &__contacto__tituloprincipal{
        text-align: center;
        padding-bottom: 1rem;
        font-family: 'Changa', sans-serif;
        font-size: xx-large;
        background-image: linear-gradient(to left, #d7c3ad, #e9e8e3);        border: 2px black solid;
        ;
        max-width: 30rem;
        border-radius: 1rem;
        position: relative;
        left: 34rem;
    }
    &__formulario__titulohijo{
        text-decoration: underline;
    }
    
    &__formulario {
    
        padding: 2rem 0.5rem 0.5rem 0.5rem;
        position: relative;
        background-image: linear-gradient(to left, #d7c3ad, #e9e8e3);        border: 2px black solid;
        border-radius: 1rem;
        
    }
    
    &__formulario__fieldset{
        padding: 0rem 0rem 1rem 4rem;
        border-radius: 1rem;
    }
    
    &__formulario__cuestionario{
        font-family: 'Changa', sans-serif;
        padding-top: 0.3rem;
    }
    
    &__formulario__cuestionario__sexo{
        position: relative;
        font-family: 'Changa', sans-serif;
    }

    &__formulario__span{
        position: relative;
    }
    
    &__formulario__cuestionario__reiniciar{
        font-family: 'Changa', sans-serif;
        font-weight: bold;
    }
    
    &__formulario__cuestionario__enviar{
        font-family: 'Changa', sans-serif;
        font-weight: bold;

    }
    
}
