.main{
        &__titulos{
            width: 100%;
            height: 3rem;
            font-family: cursive;
            padding: 0rem 0rem 2rem 0rem;
            border-radius: 1rem;
        }

        &__titulospagina {
            display: inline;
            justify-content: left;
            padding: 0.2rem 1rem 0.2rem 1rem;
            background-image: linear-gradient(to left, #c1b2a4, #fff);
            position: relative;
            left: 3rem;
            border-radius: 1rem;
            bottom: 1.7rem;
            border: 1px black solid;
            font-family: 'Changa', sans-serif;

        }

        &__textoquienessomos {
            display: flex;
            height: 9rem;
            width: 35rem;
            font-size: 1.2rem;
            background-color: rgb(251, 195, 195);
            flex-direction: column;
            background-image: linear-gradient(to left, rgb(193, 178, 164), rgb(255, 255, 255));
            font-family: 'Rajdhani', sans-serif;
            font-weight: bold;
            position: relative;
            left: 3rem;
            border-radius: 1rem;
            padding: 1rem;
            line-height: 1.8rem;


        }

        &__imagen {
            width: 35rem;
            position: relative;
            left: 3rem;
            border: solid black 2px;
            border-radius: 1rem;

        }

        &__fondo{
            padding: 0rem 0rem 10rem 0rem;
        }
}