@import "../reset";
@import "../utilitarias";
@import "./header";

.grid__remeras {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 4fr 180px;
    grid-template-areas:"header"
                        "main"
                        "footer";
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
article{
    grid-area: article;
}
footer{
    grid-area: footer;
}

.main{
    &__remera__contenedor {
        border: 4rem solid transparent;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 2rem;
        column-gap: 1rem;
    }
    
    &__remera {
        background-image: linear-gradient(to bottom, rgb(93, 86, 86), white);
        width: 18rem;
        height: 30rem;
        padding: 0.3rem 0.3rem 4rem 0.3rem;
        border: black solid 2px;
        border-radius: 1rem;

    }
    &__remera1{
        position: relative;
        right: 13rem;
        top: 26.5rem;
        font-family: cursive;
    }
    &__remera2 {
        position: relative;
        right: 13rem;
        top: 26.5rem;
        font-family: cursive;
    }
    &__remera3{
        position: relative;
        right: 13rem;
        top: 26.5rem;
        font-family: cursive;
    }
    &__remera4{
        position: relative;
        right: 13rem;
        top: 25.8rem;
        font-family: cursive;
    }
    &__remera5{
        position: relative;
        right: 13rem;
        top: 25.8rem;
        font-family: cursive;
    }
    &__remera6{
        position: relative;
        right: 13rem;
        top: 25.8rem;
        font-family: cursive;
    }
    &__remera__acomodando{
        position: relative;
        left: 0.7rem;
    }

}


.article__remera{
    position: relative;
    right: 13rem;
    top: 25.8rem;
    font-family: cursive;
}


