

.btn{
    color: tomato
}

.inline{
    display: inline;
}

.border{
    border: black 1px solid;
}


/* FIN CLASES UTILITARIAS */ 



body{
    background-image: url(../img/fondo/ropa-fondo-2.jpg);
    background-attachment:fixed;
    background-size: contain;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.28fr 1fr 0.1fr;
    grid-template-areas:"header header"
                        "main article"
                        "main article"
                        "footer footer";
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
article{
    grid-area: article;
}
footer{
    grid-area: footer;
}

.text__decoration__none{
    text-decoration: none;
    color: black;
}
.font__size__pequeña{
    font-size: 1.15rem;
}
.flex{
    display: flex;
}
.border__radius{
    border-radius: 1rem;
    border: 1px solid black;
}
.super__centrado{
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}
.flex__end{
    display: flex;
    justify-content: flex-end;
}
.fit__content{
    max-width:fit-content;
    max-height: fit-content;
}

.max__height__header{
    height: 20rem;
}
