.header__opacidad{
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    max-height: 15rem;
}

.imagen-contenedor {
    display: grid;
    grid-template-rows: 10rem;
    justify-content: space-between;
    align-items: center;
}

.imagen-logo {
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: 50%;
    animation: aparecer 700ms  ease-in alternate ;
}
@keyframes aparecer {
    0%{
        position: relative;
        right: 100rem;
    }
    100%{
        position: relative;
        right: 0rem;
    }
}

.header__contenedor-botones {
    padding: 2rem 1rem 1rem 1rem;
    display: flex;
    position: relative;
    max-height: 62%;
    gap: 0.5rem;
    height: 5rem;
}

.header__botones{
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    padding: 0rem 3rem 0rem 3rem;
    border: solid 2px ;
    background-image: linear-gradient(to left, rgb(116, 111, 105), rgb(255, 255, 255)) ;
}
.header__botones :hover{
    color: rgb(72, 72, 175);
    font-family:  'Arial Narrow Bold', sans-serif;
    font-size: larger;
}

.color_boton {
    display: flex;
    text-decoration: none;
    color: black;
    font-family: cursive;
}
